<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>
        
        <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Large modal</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
            </div>
          </div>
        </div>
        
      <div class="margin-20">
        <h4>New Intent</h4>
      </div>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
        <div class="form-group">
          <label>Intent Name</label>
          <input type="text" class="form-control" formControlName="Intentname">
          <small *ngIf="!myForm.controls.Intentname.valid" class="text-danger">
              Intent Name is required (minimum 5 characters).
            </small>
        </div>  
        <!--Intent-->
        <div formArrayName="Intentquestions">
          <div *ngFor="let Intentquestion of myForm.controls.Intentquestions.controls; let i=index" class="">
            <!-- <div>
                <span>Intent Questions {{i + 1}}</span>
            <span class="span class="glyphicon glyphicon-minus"" *ngIf="myForm.controls.Intentquestions.controls.length > 1" (click)="removeIntentquestion(i)"></span>
          </div> -->
         
            <!-- <div class="panel-heading">
                <span>Intent Questions {{i + 1}}</span>
                <span class="span class="glyphicon glyphicon-minus"" *ngIf="myForm.controls.Intentquestions.controls.length > 1" (click)="removeIntentquestion(i)"></span>
              </div> -->
            <div class="panel-body" [formGroupName]="i">
              <div class="entry input-group col-xs-6">
                <label></label>
                <input type="text" class="form-control" formControlName="question">
                <!-- <small [hidden]="myForm.controls.Intentquestions.controls[i].controls.question.valid" class="text-danger">
                    Question is required
                </small> -->
                <span class="input-group-btn">
                  <button class="btn btn-success btn-add" (click)="addIntentquestion()"  type="button">
                      <span class="glyphicon glyphicon-plus"></span>
                      
                  </button>
                  
              </span>
              <span class="input-group-btn">
                  <button class="btn btn-danger btn-remove" *ngIf="myForm.controls.Intentquestions.controls.length > 1" (click)="removeIntentquestion(i)"  type="button">
                      <!-- <span class="glyphicon glyphicon-minus" ></span> -->
                      <span class="glyphicon btn-glyphicon glyphicon-trash" ></span>
                      
                  </button>
              </span>
              <!-- <span>
              <a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span></a>
             -->
            </div>
          </div>
        </div>

        <!-- <div class="margin-20">
          <a (click)="addIntentquestion()" style="cursor: default">
            Add another intent question +
          </a>
        </div> -->
        </div>
        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Save</button>
        </div>
        <div class="clearfix"></div>

        <div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div>
      </form>
    </div>
  </div>
</div>