<h2>My Intents</h2>
<div>
  <label>Intent name:</label> <input #intentName />
  <button (click)="add(intentName.value); intentName.value=''">
    Add
  </button>
</div>
<ul class="intents">
  <li *ngFor="let intent of intents" (click)="onSelect(intent)"
      [class.selected]="intent === selectedIntent">
    <span class="badge">{{intent.id}}</span>
    <span>{{intent.name}}</span>
    <button class="delete"
      (click)="delete(intent); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedIntent">
  <h2>
    {{selectedIntent.name | uppercase}} is my intent
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
